body {
    font-family: 'Open Sans', sans-serif;
    padding: 0 0;
    margin: 0 0;
}

p, ul, ol {
    font-size: 14pt;
    line-height: 150%;

}

li {
    margin-bottom: 0.25em;
}

li ul, li ol {
    margin-top: 0.5em;
}

code {
    background: #ececec;
    padding: 0px 0.25em;
    box-shadow: 0 0 1px 0px black;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 0.15em;
}

.hljs {
    background: #e0e0e0;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #333;
    font-size: large;
    padding: .5em;
}


.main {
    max-width: 540px;
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 6px;
}

.footer {
    width: 100%;
    background-color: lightgray;
    height: 2rem;
    color: darkslategray;
    text-align: center;
}

.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
}
