body {
    font-family: 'Open Sans', sans-serif;
    padding: 0 0;
    margin: 0 0;
}

p {
    font-size: 14pt;
    line-height: 150%;
}

.hljs {
    background: #e0e0e0;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #333;
    font-size: large;
}


.main {
    max-width: 540px;
    margin: 0 auto;
    padding-left: 6px;
    padding-right: 6px;
}

.footer {
    width: 100%;
    background-color: lightgray;
    height: 2rem;
    color: darkslategray;
    text-align: center;
}

.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
}
